<!-- components/footer.html -->
{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a href="/">{% trans 'Главная страница' %}</a></li>
          <li><a href="/town_hall_managements/">{% trans 'Руководство мэрии' %}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/passport/">{% trans 'Паспорт города' %}</a></li>
          <li><a href="/documents/">{% trans 'Социальное и экономическое развитие' %}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/news/">{% trans 'Новости' %}</a></li>
          <li><a href="/announcements/">{% trans 'Объявления' %}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/vacancy/">{% trans 'Вакансии' %}</a></li>
          <li><a href="/contact/">{% trans 'Контакты' %}</a></li>
          <li><a href="/map/">{% trans 'Карта города' %}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Добавленная линия внизу -->
  <div class="footer-line"></div>

<!-- Иконки социальных сетей -->
<div class="social-icons">

  <a href="https://www.facebook.com/3138Tokmok" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/meriya_goroda_tokmok/" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a>
</div>

<!-- Новая линия после социальных иконок -->
<div class="social-line"></div>
    <div class="footer-text">
    <div class="footer-text-left">

      <p>{% trans 'Сайт разработан Оморов Э. и Исламов И. Поддержанием сайта занимается МП "Мой город Токмок"' %}</p>
    </div>
    <div class="footer-text-right">
      <p> 03138 3-26-00, {% trans 'г. Токмок, улица Ленина, 385.'%}</p>
    </div>
  </div>
</footer>
