{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Объявления' %}{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
{% endblock %}

{% block content %}

<div class="filter-form">
  <form method="get">
    {{ filter_form.as_p }}
    <button type="submit">Применить фильтр</button>
      <button type="button" onclick="resetFilter()">Сбросить</button>
  </form>
</div>

    {% for announcement in announcements %}
        {% if announcement.title != 'Untitled' %}
            <div class="announcement-item">
                <h3><a href="{% url 'announcement_detail' pk=announcement.pk %}">{{ announcement.title }}</a>
                    <span class="date">{{ announcement.date }}</span></h3>
            </div>
        {% endif %}
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if announcements.has_previous %}
                <a href="?page={{ announcements.previous_page_number }}">предыдущая</a>
            {% endif %}

            {% for i in announcements.paginator.page_range %}
                {% if announcements.number == i %}
                    <span class="current">{{ i }}</span>
                {% elif i > announcements.number|add:"-2" and i < announcements.number|add:"2" %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% elif i == announcements.number|add:"-2" %}
                    <a href="?page=1">1</a>
                    <span class="dots">...</span>
                {% elif i == announcements.number|add:"2" %}
                    <span class="dots">...</span>
                    <a href="?page={{ announcements.paginator.num_pages }}">{{ announcements.paginator.num_pages }}</a>
                {% endif %}
            {% endfor %}

            {% if announcements.has_next %}
                <a href="?page={{ announcements.next_page_number }}">следующая</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
 <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
