{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Главная страница' %}{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="mayor-container">
    <div class="mayor-card">
      <img class="mayor-image" src="{{ mayor.image.url }}" alt="{{ mayor.title }}">
      <div class="mayor-info">
        <p class="mayor-title">{{ mayor.title }}</p>
        <h2 class="mayor-name">{{ mayor.first_name }} {{ mayor.middle_name }} {{ mayor.last_name }}</h2>
      </div>
    </div>

    <div class="mayor-buttons-container">
  <a class="mayor-button" href="{% static 'files/spravochmik.pdf' %}" target="_blank">
      <i class="fas fa-volume-control-phone"></i>{% trans 'Телефонный справочник' %}</a>
  <a class="mayor-button" href="/documents/"><i class="fas fa-file-pdf-o"></i>{% trans 'Отчеты' %}</a>
  <a class="mayor-button" target="_blank" href="{% static 'files/structura-merii.pdf' %}"><i class="fas fa-info"></i>
      {% trans 'Структура' %}</a>
    </div>
  </div>
  <div class="main-news">
    <span class="main-news-left">{% trans 'Новости' %}</span>
    <span class="main-news-right"><a class="main-news-a" href="/news/">{% trans 'Все новости →' %}</a></span>
  </div>
  <div id="news-container">
    {% for news in news_list %}
        {% if news.title != 'Untitled' %}
          <div class="news-item">
            <a href="{% url 'news_detail' pk=news.pk %}">
              {% if news.image %}
                <img src="{{ news.image.url }}" alt="{{ news.title }}">
              {% elif news.get_photos %}
                <img src="{{ news.get_photos.first.image.url }}" alt="{{ news.title }}">
              {% endif %}
            </a>
            <p class="title"><a href="{% url 'news_detail' pk=news.pk %}">{{ news.title }}</a></p>
            <p class="date">{{ news.date }}</p>
          </div>
        {% endif %}
    {% endfor %}

  </div>
<div class="slider-container">
  <div class="slider-wrapper">
    <div class="slider">
      <div class="slider-item active">
  <a href="http://prezident.kg/kg" target="_blank">
    <img src="{% static 'images/slide1.png' %}" alt="Slide 1">
  </a>
</div>
<div class="slider-item">
  <a href="https://www.gov.kg/ru" target="_blank">
    <img src="{% static 'images/slide2.png' %}" alt="Slide 2">
  </a>
</div>
<div class="slider-item">
  <a href="https://gk.tokmokcity.kg/" target="_blank">
    <img src="{% static 'images/slide3.png' %}" alt="Slide 3">
  </a>
</div>
<div class="slider-item" >
  <a href="https://www.stat.kg/ru/statisticheskie-perepisi/" target="_blank">
    <img src="{% static 'images/slide4.png' %}" alt="Slide 4">
  </a>
</div>
<div class="slider-item">
  <a href="https://mamtil.kg/" target="_blank">
    <img src="{% static 'images/slide5.png' %}" alt="Slide 5">
  </a>
</div>
<div class="slider-item">
  <a href="/contact/" target="_blank">
    <img src="{% static 'images/slide6.png' %}" alt="Slide 6">
  </a>
</div>
    </div>
    <button class="prev-btn"><i class="fa fa-angle-left"></i></button>
    <button class="next-btn"><i class="fa fa-angle-right"></i></button>
  </div>
</div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>

{% endblock %}