{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Руководство мэрии' %}{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/management.css' %}">
{% endblock %}

{% block content %}
    <ul>
        {% for management in managements %}
            <li class="management">
                <div class="content-wrapper">
                    <div class="text-content">
                        <h5><strong>{{ management.position }}:</strong> {{ management.first_name }} {{ management.middle_name }} {{ management.last_name }}</h5>
                        <p><strong>Дата рождения:</strong> {{ management.birth_date }}</p>
                        <p><strong>Образование:</strong> {{ management.education|safe }}</p>
                        <p><strong>Опыт работы:</strong> {{ management.work_experience|safe }}</p>
                    </div>
                    <div class="image-content">
                        <img class="management_photo" src="{{ management.image.url }}" alt="{{ management.first_name }} {{ management.last_name }}">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
