body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 300px; /* Отступы справа и слева */

}
.content {
  margin-bottom: 50px; /* Отступ снизу */
}

h1 {
  font-size: 2rem; /* Увеличиваем размер шрифта для заголовка */
  margin-top: 10px; /* Отступ перед заголовком */
  position: relative; /* Позиционируем элемент относительно его обычного положения */
}
h1::after {
  content: ''; /* Добавляем контент для псевдоэлемента */
  display: block; /* Делаем его блочным элементом */
  border-bottom: 1px solid lightgray; /* Линия после заголовка */
  margin-top: 5px; /* Отступ между линией и заголовком */
}

.date {
  font-size: 0.8rem; /* Уменьшаем размер шрифта для даты */
  color: #888; /* Добавляем цвет для даты */
}

.text {
  margin-left: 10px; /* Отступ слева для text */
}

@media (max-width: 768px) {
  .content {
    margin: 0 20px; /* Уменьшаем отступы для мобильных устройств */
  }

  .content {
    margin-top: 60px; /* Уменьшаем отступы справа и слева для маленьких экранов */
  }

  .content {
    margin-bottom: 30px;
  }


}
