/* static/css/global.css */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.container {
  margin-left: 130px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Цвет фона для заголовков */
}
.content {
  flex: 1;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;

}

.footer ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;

}

.footer ul li {
  margin-bottom: 15px;

}

.footer ul li a {
  color: #91969D;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 20px;

}


.footer-line {
  border-top: 1px solid #3E3E3E; /* Добавляем линию внизу */
  margin-top: 20px; /* Расстояние между линией и ссылками на социальные сети */
  padding-top: 20px; /* Расстояние между линией и ссылками на социальные сети */
  margin-right: 20px;

}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Центрируем иконки по горизонтали */
  margin-right: 20px;
}

.social-icons a {
  margin: 0 10px; /* Расстояние между иконками */
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: #cccccc; /* Изменяем цвет при наведении */
}

.social-line {
  border-top: 1px solid #3E3E3E;
  margin-top: 10px;
  padding-top: 10px;
}

.footer-text {
  display: flex;
  justify-content: space-between; /* Равномерное распределение пространства между дочерними элементами */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  margin-top: 10px;
}

.footer-text-left,
.footer-text-right {
  color: #91969D;
  font-size: 0.9rem;
  margin: 5px;
}

.footer-text-left {
  text-align: left; /* Выравнивание текста влево */
}

.footer-text-right {
  text-align: right; /* Выравнивание текста вправо */
}

.footer-text p {
  color: #91969D;
  font-size: 0.9rem;
  margin: 5px;
}



@media (max-width: 767px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer-line,
  .social-line {
    margin-right: 10px;
  }

  .footer ul {
    margin-top: 20px;
  }

  .footer-line {
    margin-top: 10px;
    padding-top: 10px;
  }

  .social-icons {
    margin-right: 10px;
  }

  .footer-text {
    margin-top: 20px;
  }
}