.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-item {
  margin-bottom: 10px; /* Регулируйте интервал между фотографиями по вашему желанию */
  transition: transform 0.3s ease;
}

.photo-item:hover {
  transform: scale(0.9);
}
.content {
  margin: 0 300px;

}
.content {
  margin-bottom: 50px;
}

.date-with-line {
  position: relative;
}

.date::after {
  content: '';
  display: block;
  border-bottom: 1px solid lightgray; /* Линия после даты */
  margin-top: 5px; /* Отступ между линией и датой */
}

.date {
  font-size: 0.8rem;
  color: #888;
}

.text {
  margin-top: 10px;
  font-size: 1rem;
}



@media (max-width: 880px) {
  .content {
    margin: 0 20px; /* Уменьшаем отступы для мобильных устройств */
  }
  .content {
    margin-top: 60px; /* Уменьшаем отступы справа и слева для маленьких экранов */
  }

  .content {
    margin-bottom: 30px;
  }
}
