body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 300px;
}
.content {
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  margin-top: 10px;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  border-bottom: 1px solid lightgray; /* Линия после заголовка */
  margin-top: 5px; /* Отступ между линией и заголовком */
}

.date {
  font-size: 0.8rem;
  color: #888;
}

.text {
  margin-top: 10px;
  font-size: 1rem;
}

img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 20px;
}

/* Добавлен стиль для clearfix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Обновлен стиль для .photo-item */
.photo-item {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 5px;

}

/* Обновлен стиль для изображений внутри .photo-item */
.photo-item img {
  max-width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 1%;
  transition: transform 0.3s ease;
}

.photo-item:hover img {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .content {
    margin: 0 20px;
    /* Пример, можете изменить значение в зависимости от ваших предпочтений */
  }

  .content {
    margin-top: 60px; /* Уменьшаем отступы справа и слева для маленьких экранов */
  }

  .content {
    margin-bottom: 30px;
  }

  .title {
    font-size: 1.5rem;
  }

  .date {
    font-size: 0.7rem;
  }

  .text {
    font-size: 0.9rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .photo-item {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
}
