body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 300px;
}
.content {
  margin-bottom: 50px;
}

h3 {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

p {
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
  display: inline-block;
  font-size: 1.2rem;
  text-underline: none;
  font-weight: 500;
}

.date {
  margin-left: 10px;
  color: #91969D;
  font-size: 0.8rem;
}



.result-item {
  border-bottom: 1px solid lightgray; /* Линия после каждой новости */
  padding-bottom: 1px; /* Дополнительный отступ после линии */
}

.result-item p a{
  text-underline: none;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: #007BFF;
  display: inline-block;
  font-size: 1.2rem;

}

.pagination {
  margin-top: 20px;
}

.step-links a {
  padding: 5px 8px;
  margin: 0 5px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #007BFF;
  border-radius: 4px;
}

.step-links .current {
  background-color: #007BFF;
  color: #fff;
  border: 1px solid #007BFF;
  padding: 5px 8px;
  margin: 0 5px;
  border-radius: 4px;
}

.step-links a:hover {
  background-color: #0056b3;
  color: #fff;
  border: 1px solid #0056b3;
}

@media (max-width: 767px) {
    .content {
        margin: 0 20px; /* Уменьшаем отступы справа и слева для маленьких экранов */
    }

    .content {
        margin-top: 60px; /* Уменьшаем отступы справа и слева для маленьких экранов */
    }

    .content {
        margin-bottom: 30px;
    }
}
